stages:
  - lint
  - publish

default:
  image: python:3.11-slim
  before_script:
    - pip install uv
    - uv sync --all-extras

lint:
  stage: lint
  script:
    - uv run ruff check .
    - uv run ruff format --check .

typos:
  stage: lint
  script:
    - uvx typos

publish:
  stage: publish
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+/
  before_script:
    - pip install uv
  script:
    - uv build
    - uv publish --publish-url "${PACKAGE_REGISTRY_URL}" -u "${PACKAGE_REGISTRY_USER}" -p "${PACKAGE_REGISTRY_TOKEN}"
